/* Resetting default margin and padding */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Background blur effect */
.backgroundBlur {
  background-image: url("./images/song1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  filter: blur(7px); /* Adding blur effect */
}

/* Main container styling */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centering horizontally and vertically */
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Styling for song image */
.container img {
  width: 330px;
  border-radius: 10px;
  /* Adding shadow effect */
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.247);
}

/* Styling for song image container */
#songImg {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Player section styling */
.player {
  /* Semi-transparent black background */
  background-color: rgba(0, 0, 0, 0.533);
  /* Centering horizontally with some margin */
  width: 350px;
  margin: 20px auto;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}

/* Styling for progress bar */
.progress-bar {
  width: 100%;
  height: 7px;
  background-color: rgba(214, 214, 214, 0.525); /* Semi-transparent gray */
  position: relative;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}

/* Styling for progress bar indicator */
.progress {
  border-radius: 10px;
  width: 0;
  height: 100%;
  background-color: white; /* White color for progress indicator */
}

/* Styling for play/pause button */
#play-pause-button {
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

/* Hiding the default audio player */
#audioPlayer {
  display: none;
}

/* Styling for song title */
#songTitle {
  font-weight: 600;
}

/* Styling for song artist */
#songArtist {
  color: rgb(214, 214, 214);
  margin-top: -10px;
}

/* Styling for play/stop icons */
.playStopIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

/* Styling for player control buttons */
.playerButtons {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Styling for player control buttons */
.playerButtons button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  font-size: 25px;
  color: white;
  cursor: pointer;
}
